
<!-- jQuery -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Tween Max -->
<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js"></script>

<!-- Gallery -->
<script src="//cdnjs.cloudflare.com/ajax/libs/featherlight/1.3.5/featherlight.min.js" type="text/javascript" charset="utf-8"></script>

<!-- Custom JavaScript -->
<%- js('js/main.js') %>

<!-- Disqus Comments -->
<% if (theme.comments && theme.comments.disqus_shortname){ %>
<script type="text/javascript">
    var disqus_shortname = '<%= theme.comments.disqus_shortname %>';
    var disqus_config = function () {
      this.language = '<%= theme.comments.disqus_lang %>';
    };
    
    (function(){
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/<% if (page.comments){ %>embed.js<% } else { %>count.js<% } %>';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>
<% } %>

<!-- Algolia  -->
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@3.32.1/dist/algoliasearchLite.js" integrity="sha256-pMaJf0I78weeXGkRMBDO6jSulxC/q3sb0aPdtV2N8n0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@3.2.0" integrity="sha256-/8usMtTwZ01jujD7KAZctG0UMk2S2NDNirGFVBbBZCM=" crossorigin="anonymous"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default,Array.prototype.find,Array.prototype.includes"></script>
<script src="https://unpkg.com/striptags@3.1.1/src/striptags.js"></script>
<script>
  const searchClient = algoliasearch('<%= theme.algolia.applicationID %>', '<%= theme.algolia.apiKey %>');

  const search = instantsearch({
    indexName: '<%= theme.algolia.indexName %>',
    searchClient,
    searchFunction: function(helper) {
      // https://www.algolia.com/doc/guides/building-search-ui/going-further/conditional-display/js/#handling-empty-queries
      const container = document.querySelector('#hits');
      if (helper.state.query === '') {
        container.style.display = 'none';
      } else {
        container.style.display = '';
      }
      helper.search();
    }
  });

  search.addWidget(
    instantsearch.widgets.searchBox({
      container: '#searchbox',
      placeholder: `Search words`,
      showReset: false,
      showSubmit: false,
      cssClasses: {
        input: 'form-control'
      }
    })
  );

  search.addWidget(
    instantsearch.widgets.hits({
      container: '#hits',
      templates: {
        empty: '<p>「{{ query }}」の結果は見つかりませんでした。</p>',
        item: `
        <a href={{ permalink }}>{{ title }}</a>
        `,
      },
    })
  );

  search.start();

  if ($(".ais-SearchBox-input").val.length === 0) {
    $("#hits").css("position", "fixed");
    $("#hits").css("z-index", "-2");
  } else {
    $("#hits").css("position", "relative");
    $("#hits").css("z-index", "0");
  }
</script>

<!-- katex -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/katex.min.js" integrity="sha384-2BKqo+exmr9su6dir+qCw08N2ZKRucY4PrGQPPWU1A7FtlCGjmEGFqXCv5nyM5Ij" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/contrib/auto-render.min.js" integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>